@import 'root/colors.scss';
.app-header {
    display: flex;
    flex-wrap: wrap;
    background-color: $color1;
    margin-bottom: 1rem;
    .item {
        display: block;
        text-decoration: none;
        color: #fff;
        padding: 0.8em;
        &:hover {
            background-color: darken($color1, 5)
        }
    }
}